* {
  margin: 0px;
  padding: 0px;
}

/* Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-container {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  .logo-img {
    margin-top: 3rem;
  }
  .people-container {
    display: flex;
    margin-top: 3.4rem;
    align-items: center;
    justify-content: center;
  }

  .people-left-img {
    max-width: 53%;
  }
  .people-right-img {
    max-width: 53%;
    padding-left: 1rem;
  }

  .group-title {
    font-family: "Red Hat Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    color: #28283d;
    margin-top: 3rem;
    padding: 0 3rem 0 3rem;
  }
  .desc {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color: #87879d;
    margin-top: 1.55rem;
    padding: 0 1.48rem 0 1.48rem;
  }
  .download-btn {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #ffffff;
    border-radius: 1.813rem;
    background-color: #4d96a9;
    padding: 1rem 2.55rem 1rem 2.55rem;
    margin: 2rem 5.6rem 0rem 5.6rem;
    border: none;
  }
  .v1-first {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #8fe3f9;
    padding-left: 0.1rem;
  }

  .what-btn {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #ffffff;
    border-radius: 1.813rem;
    padding: 1rem 1.85rem 1rem 1.85rem;
    margin-top: 1rem;
    border: none;
    display: flex;
    background: #855fb1;
    align-self: center;
  }

  .number-img {
    display: flex;
    margin: 4rem 0 0 0;
    max-height: 8.7rem;
    max-width: 5rem;
    align-self: center;
  }

  .two-img-container {
    display: flex;
    margin-top: 3.1rem;
    padding-left: 0.6rem;
    padding-right: 0.7rem;
  }

  .four-img-container {
    display: flex;
    padding-left: 0.7rem;
    max-width: 100%;
    padding-right: 0.7rem;
  }

  .slide {
    max-width: 50%;
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 0.8rem;
  }

  .built-text {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.63;
    letter-spacing: 0.25rem;
    text-align: left;
    color: #4d96a9;
    text-align: center;
    margin-top: 3.2rem;
  }

  .smarter-text {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    font-family: "Red Hat Display";
    text-align: center;
    color: #28283d;
    margin-top: 1.4rem;
    padding: 0 2rem 0 2rem;
  }

  .send-text {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.63;
    text-align: center;
    color: #87879d;
    padding: 0 1.55rem 0 1.55rem;
    margin-top: 2.2rem;
  }

  .page2-stick-img {
    max-height: 8.7rem;
    max-width: 5rem;
    position: absolute;
    z-index: 10;
    margin-top: 40rem;
    align-self: center;
  }

  .footer-container {
    position: absolute;
  }
  .footer-outer {
    margin-top: 10.8rem;
    height: 27rem;
    display: flex;
    position: relative;
  }

  .footer-img {
    max-width: 100vw;
  }

  .experience-text {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;
    color: #fafafa;
    margin-top: 5.75rem;
    align-self: center;
  }
  .overlay-container {
    position: absolute;
    background-color: rgba(77, 150, 169, 0.88);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .stay-text {
    font-family: "Red Hat Display";
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.44;
    text-align: center;
    color: #fafafa;
    margin-top: 1.5rem;
    padding: 0 2.1rem 0 2.1rem;
  }

  .download-btn2 {
    font-family: "Red Hat Display", sans-serif;
    color: #ffffff;
    border: none;
    background: #855fb1;
    align-self: center;
    text-align: left;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #ffffff;
    border-radius: 1.813rem;
    padding: 1rem 2.55rem 1rem 2.55rem;
    margin: 2rem 5.6rem 0rem 5.6rem;
    border: none;
  }

  .v1-3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625;
    color: #d9b8ff;
    padding-left: 0.1rem;
    text-align: left;
  }
}

/* Tablet  */
@media only screen and (min-device-width: 481px) and (max-device-width: 850px) {
}

/* Desktop */

@media only screen and (min-device-width: 1025px) {
}
